# Check new data

## Import and read data

In [23]:
import pandas as pd
from pathlib import Path
import sys
import os
from rectools.columns import Columns

In [9]:
sys.path.append("../../")

In [12]:
ratings_path = "../../data/raw/rating.csv"
interactions_df = pd.read_csv(ratings_path)

## Data exploration

In [20]:
interactions_df.shape

(20000263, 4)

In [21]:
interactions_df.head()

   userId  movieId  rating            timestamp
0       1        2     3.5  2005-04-02 23:53:47
1       1       29     3.5  2005-04-02 23:31:16
2       1       32     3.5  2005-04-02 23:33:39
3       1       47     3.5  2005-04-02 23:32:07
4       1       50     3.5  2005-04-02 23:29:40

In [26]:
interactions_df = (
    interactions_df
    .rename(columns={
        "userId": Columns.User,
        "movieId": Columns.Item,
        "rating": Columns.Weight,
        "timestamp": Columns.Datetime
    })
)

In [29]:
interactions_df[Columns.User].drop_duplicates().shape[0]

138493

In [30]:
interactions_df[Columns.Item].drop_duplicates().shape[0]

26744

No need to group data by user-item one more time.

In [33]:
(
    interactions_df
    .groupby(Columns.UserItem)
    .agg({
        Columns.Weight: "sum",
        Columns.Datetime: "last"
    })
    .reset_index()
)

          user_id  item_id  weight             datetime
0               1        2     3.5  2005-04-02 23:53:47
1               1       29     3.5  2005-04-02 23:31:16
2               1       32     3.5  2005-04-02 23:33:39
3               1       47     3.5  2005-04-02 23:32:07
4               1       50     3.5  2005-04-02 23:29:40
...           ...      ...     ...                  ...
20000258   138493    68954     4.5  2009-11-13 15:42:00
20000259   138493    69526     4.5  2009-12-03 18:31:48
20000260   138493    69644     3.0  2009-12-07 18:10:57
20000261   138493    70286     5.0  2009-11-13 15:42:24
20000262   138493    71619     2.5  2009-10-17 20:25:36

[20000263 rows x 4 columns]

Keep only date from timestamp

In [45]:
interactions_df[Columns.Datetime] = pd.to_datetime(interactions_df[Columns.Datetime]).dt.date

In [46]:
interactions_df

          user_id  item_id  weight    datetime
0               1        2     3.5  2005-04-02
1               1       29     3.5  2005-04-02
2               1       32     3.5  2005-04-02
3               1       47     3.5  2005-04-02
4               1       50     3.5  2005-04-02
...           ...      ...     ...         ...
20000258   138493    68954     4.5  2009-11-13
20000259   138493    69526     4.5  2009-12-03
20000260   138493    69644     3.0  2009-12-07
20000261   138493    70286     5.0  2009-11-13
20000262   138493    71619     2.5  2009-10-17

[20000263 rows x 4 columns]